name: "Run CronitorCLI tests"

on:
  - push

jobs:
  windows-tests:
    name: Run Windows tests
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v3

      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.7.0



  linux-tests:
    name: Run Linux tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v3

      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.7.0

      - name: Build binary
        run: go build -o cronitor main.go

      - name: Run tests
        working-directory: tests
        env:
          CRONITOR_API_KEY: "${{ secrets.CRONITOR_API_KEY }}"
        run: |
          echo "::add-mask::cb54ac4fd16142469f2d84fc1bbebd84"
          echo "::add-mask::$CRONITOR_API_KEY"
          export BATS_PATH="$(which bats)"
          sudo -E -n -- $BATS_PATH *.bats
